.phonetic {
  margin-top: 24px;
}
.phonetic a {
  text-decoration: none;
  border: 1px solid #eb344a;
  border-radius: 60px;
  padding: 8px 16px;

  color: #eb344a;
  margin-right: 8px;
  transition: all 150ms ease-in-out;
}

.phonetic a:hover {
  border: 1px solid #eb344a;
  background-color: #eb344a;
  color: white;
}
